* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  color: white;
}

main {
  width: 400px;
  height: 600px;
  background-color: #000000;
  padding: 10px;
}

.calc-zero {
  width: 100%;
  height: 25%;
  position: relative;
  padding: 0 10px;
}
.calc-zero h4 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 3rem;
}

.btn-group {
  width: 100%;
  height: 15%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-group button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 28px;
  text-align: center;
  border: none;
  outline: none;
}

.comm-color {
  background-color: #ff9201;
}

.comm-color2 {
  background-color: #5c5c5c;
  color: white;
  font-weight: 600;
}
.num-color {
  background-color: #313131;
  color: white;
  font-weight: 600;
}
